html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  overflow: hidden;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sc-bdvvtL {
  height: 100%;
  width: 90vw;
  z-index: 0;
}

.sc-dJjYzT {
  height: 100%;
  width: 90vw;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 0;
  background: #002b36;
}

.filename {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.topBar > span {
  font-weight: 800;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

.newFileButton {
  position: relative;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.editFileNameButton {
  position: relative;
  padding: 0.5rem;
  font-size: 1rem;
  place-self: end;
}

.editFileNameButton:hover::after {
  content: "Edit the filename";
  font-size: 0.9rem;
  color: black;
  position: absolute;
  height: 21px;
  width: 310%;
  top: 105%;
  left: -300%;
  transform: translateX(50%);
  border-radius: 3px;
  background: white;
}

.editFileNameButton:hover::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 90%;
  left: 50%;
  transform: rotate(45deg) translate(-30%, 60%);
  border-radius: 2px;
  background: white;
}

.newFileButton:hover::after {
  content: "Create a new file";
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  position: absolute;
  height: 21px;
  width: 400%;
  top: 104%;
  left: -500%;
  transform: translateX(50%);
  border-radius: 3px;
  background: white;
}

.newFileButton:hover::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 90%;
  left: 50%;
  transform: rotate(45deg) translate(-10%, 40%);
  border-radius: 2px;
  background: white;
}

.spacer {
  flex-grow: 1;
}

.field {
  margin-left: 1rem;
}

body {
  height: 100vh;
}

textarea {
  height: 2rem;
  font-size: 1.2rem;
  background: transparent;
  color: inherit;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  white-space: pre-wrap;
}

.topBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 10vh;
  color: #cccc;
}

.sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -11%;
  right: 0vw;
  height: 100vh;
  width: 20vw;
  background-color: #002b36;
  border-left: 1px solid rgb(66, 74, 87);
  transform: translateX(200%);
  transition: transform 500ms;
  z-index: 1;
}

.visible {
  transform: translateX(0%);
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(66, 74, 87);
}

.openSideBar {
  margin-right: 3rem;
  transition: transform 500ms;
}

.translateButton {
  transform: translateX(-20vw);
}

.selected {
  background-color: #003b49;
}

.h-1 {
  height: 72px;
}

input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-left: 0.5rem;
}
